<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <legend>Sign up to chat!</legend>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %></div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %></div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>

        <div>

        <div class="form-group">
          <%= f.label :user_type %><br>
          <%= f.select(:role, options_for_select(['User','Trainer'])) %>
        <div><br>
          <%= f.submit "Sign up", class: "btn btn-success" %></div>
    <% end %>
    <hr>

    <%= render "devise/shared/links" %>

  </div>
</div>


