<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <legend>Signin to chat!</legend>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div  class="form-group"><%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

        <div class="checkbox">
          <% if devise_mapping.rememberable? -%>
              <label>
                <%= f.check_box :remember_me %> Remember me
              </label>

          <% end -%>
        </div>

        <div><%= f.submit "Sign in", class: "btn btn-primary" %></div>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
    <br><br>
    <div class="well">
      <p>If You Are A Returned User than use Login And For new User Do sign up</p>

    </div>
  </div>
</div>
